@charset "utf-8";

body {
    background-color: #CCFFFF;
    padding: 50px;
}
h3 {
    color: red;
}
.header-main {
    padding: 20px 0 10px 300px;
}
.heading,.footer-main {
    padding: 10px 0 20px 200px;
}
.img {
    text-align: center;
    padding: 0;
    
}
.imgExp {
    padding: 10px 0 0px 200px;
}


@media screen and (max-width: 900px ) {
    body {
        padding: 30px;
    }
    .header-main {
        text-align: center;
        padding-left: 0;
    }
    .heading, .content, .footer-main, .imgExp {
        text-align: center;
        padding-left: 0;
    }
}
